
<%- include ('partials/header'); %>   
 <%- include ('partials/nav'); %>
 <div class="about"><h1 class="about_h1">About us</h1>
  <p class="about_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate porro natus odit officia. Unde reprehenderit
        corrupti atque voluptas eos possimus ducimus sit placeat natus dolor perferendis, totam necessitatibus pariatur labore!
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quisquam assumenda amet, aperiam deleniti rerum cumque accusantium beatae cum dicta impedit obcaecati, expedita temporibus, a ducimus totam deserunt commodi quo!</p></div>
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55609.72279878427!2d-51.776849396479875!3d64.1790899158222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ea20dce1ab32725%3A0x3de425fb4d692306!2zR29kdGjDpWIsIEdyw7ZubGFuZA!5e0!3m2!1ssv!2sse!4v1575552577490!5m2!1ssv!2sse" width="60%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
<%- include ('partials/footer'); %>
