.about {
    text-align: center;
    margin: 50px 300px;

}
.about_h1{
    font-size:32px;
    margin-top:30px;
    text-align:center;
    font-family: 'Sanchez', serif;
}
iframe {
margin: 0% 20% 0% 20%;
}

.about_p {
    font-family: 'Sanchez', serif;
    font-size: 18px;
    margin-top:20px;
}