.about {
    text-align: center;
    margin: 0px 300px 0px 300px;

}

iframe {
margin: 0% 20% 0% 20%;
}

p {
    font-family: 'Sanchez', serif;
    font-size: 18px;
}

h1 {
    font-family: 'Sanchez', serif;
}